@media screen and (max-width: 768px) {
  /* nav responsive */
  nav .row,
  nav .col-right ul {
    flex-direction: column;
    padding: 0 2rem;
  }
  nav h3 {
    margin-top: 2.5rem;
  }
  nav .col-right ul li {
    padding: 2rem 0;
  }
  nav .col-right ul li {
    margin-right: 0;
  }
  /* influencer responsive */
  .influencer-section .influencer-item {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
  .influencer-section h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  .influencer-section p {
    font-size: 1.4rem;
  }
  .influencer-section .col-img img {
    width: 100%;
    height: auto;
  }
  .col-content .btn-pbook {
    padding: 2rem 4rem;
  }
  .logo-icon ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 1rem;
    padding: 2rem;
  }
  .logo-icon ul li {
    text-align: center;
  }
  .logo-icon ul li img {
    width: 70%;
    height: auto;
  }
  /* popular responsive here */
  .popular-collection h2 {
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .popular-collection .card-banner {
    display: grid;
    grid-template-columns: 1fr;
    padding: 4rem;
    gap: 1rem;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* nav responsive */
  nav .row {
    flex-direction: column;
    padding: 5rem 0;
  }
  .influencer-section .row {
    flex-direction: column-reverse;
    text-align: center;
  }
  .influencer-section .col-img img {
    width: 100%;
    height: auto;
  }
  .influencer-section .col-content {
    padding: 0 3rem;
  }
  .influencer-section h1 {
    margin-bottom: 5rem;
  }
  .logo-icon ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
  }
  .logo-icon ul li {
    text-align: center;
  }
  .logo-icon ul li img {
    width: 70%;
    height: auto;
  }
  /* popular collection responsive */
  .popular-collection h2 {
    color: var(--secondary-color);
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .popular-collection .card-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
    gap: 1rem;
  }
}
